.conversationContainer {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    box-shadow: 0 0 20px 0 green;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conversationContainer img {
    width: 25px;
    height: 25px;
}